*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    min-height: 100vh;
    background:#232323; 
    display: grid;        /* con estas 2lineas de codigo centramos todo */
    place-items: center;
}
.calculadora{
    
    background-color: #48bfff;
    color: white;
    width: 350px; ;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5em;
    box-shadow: 0 0 20px #48bfff;

}

.pantalla {
    grid-column:1/-1  ;/* (hay 5 lineas entre columnas), contamos los espacios que hay entre cada columna para ocupar el espacio de la pantalla */
   background-color:#090c31 ;
   padding: 1.5rem;
   font-size: 2rem;
   overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   text-align: right;
   border-radius: 5rem;
   margin-bottom: 1.5rem;
   font-family: monospace;
   font-weight: 600;
}

.btn{
    background-color: #006da7;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}
.btn:hover{
    background-color: #004f68;
}
#CERO{
    grid-column: span 2;
}
#IGUAL {
    grid-row: span 2 ;
    background-color: #E65766;
}

#IGUAL:hover{
    background-color: #e6394a ;
}



